<div class="nested-fields">
  <div class="form-group">
    <%= f.number_field :track_number, min: "1" %>
    <%= f.text_field :track_name %>
    <%= link_to_remove_association "曲を削除", f  %>
  </div>
</div>