<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h2>お気に入りリスト</h2>
                <% @favorites.each do |favorite| %>
                    <div>
                        <p><%= link_to "#{favorite.item.title}", item_path(favorite.item.id) %></p>
                        <p><%= favorite.item.artist.artist_name %></p>
                    </div>
                    <div>
                        <p><%= favorite.item.price %>(税込)</p>
                    </div>
                    <div>
                        <%# <%= render 'favorites/user_favorite', favorite: favorite %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>