<h2>購入履歴</h2>

<table border="1">
  <thead>
    <tr>
        <th>商品</th>
        <th>配送状況</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
<% @orders.each do |order| %>
  <%
=begin%>
 <% binding.pry %> 
<%
=end%>
    <t-body>
    <% order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.item.title %></td>
        <td><%= order.status %></td>
        <td><%= %></td>
          <% if order.status == 0 %>
            <td></td>
          <% else %>
            <td>
              <%= link_to item_reviews_path(order_item.item_id) do %>
                <button class="btn-sticky">レビューを書く</button>
              <% end %>
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
   <% end %>