// Place all the styles related to the admin/admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-top-box {
    margin-top: 30px;
}
// .row {
//     margin: 20px;
// }
.parent {
display: flex;
justify-content: center;
    .box {
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        // border: double 7px rgb(245, 140, 3);
        width: 300px;
        height: 150px;
        .glyphicon.glyphicon-user,
        .glyphicon.glyphicon-lock,
        .glyphicon.glyphicon-stats,
        .glyphicon.glyphicon-folder-open {
            font-size: 60px;
        }
    }
}
.glyphicon.glyphicon-user,
.glyphicon.glyphicon-lock,
.glyphicon.glyphicon-stats,
.glyphicon.glyphicon-folder-open {
    font-size: 40px;
}


h2{
    text-align: center;
}

.actions{
    text-align: center;
}

input[type="text"] {
    border-radius: 5px;
}

input[type="tel"] {
    border-radius: 5px;
}

input[type="email"] {
    border-radius: 5px;
}

input[type="password"] {
    border-radius: 5px;
}