// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index/items
.item-index-box {
    font-size: 16px;

    .add-box {
        display: flex;
        justify-content: flex-end;
        padding: 20px;

        .btn {
            margin-left: 5px;
        }

        span {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 10% 0 0;
        }
    }

    .table-condensed {
        th {
            text-align: center;
        }
        td {
            text-align: center;
        }
    }
    .paginate {
        text-align: center;
        padding: 20px;
    }
}

// new/items
.item-new-box {
    font-size: 20px;
    .form-box {
        border: solid 2px rgba($color: #000000, $alpha: 1.0);
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        input[type="text"], select {
            width: 100%;
            margin: 10px auto;
            border-radius: 10px;
            box-shadow: 0 0 7px grey;

        }
        input[type="number"] {
            width: 20%;
        }
    }
}

// _desc/new/items
.disc-box {

}

// _track/new/items
.track-box {
    input[type="number"] {
        width: 20%;
    }
    input[id="item_discs_attributes_0_tracks_attributes_1571802931862_track_name"] {
        width: 40%;
    }
    // #item_discs_attributes_0_tracks_attributes_1571802931862_track_name{
    //     width: 40%;
    // }

}