// Place all the styles related to the admin/stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.line{
    width: 100%;
	// height: 8px;
	border-bottom: 3px solid #3FA5FE;
	margin: 0 auto;
    // padding: 1px 10px;
    // background-color: #3FA5FE;
}

.boxes {
    text-align:center;
}
