<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <p>入荷履歴一覧</p>
                <table>
                    <tr>
                        <th>入荷日時</th>
                        <th>入荷商品</th>
                        <th>入荷数</th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>