<h1>Items#rankings</h1>
<p>Find me in app/views/items/rankings.html.erb</p>
<div class="container">
    <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
        <div class="image6"></div>
        <div class="image7"></div>
        <div class="image8"></div>
        <div class="image9"></div>
        <div class="image10"></div>
    </div>
</div>
<h2>月間ランキング</h2>
    <div class="container">
        <div class="row">
            <%= %>