<h1>ランキング</h1>
        <div class="col-md-1">
            <ul id="rankingTab" class="nav nav-tabs">
                <li class="active"><a href="#weekly_rank">週間ランキング</a></li>
                <li><a href="#monthly_rank">月間ランキング</a></li>
                <li><a href="#favorite_rank">いいねランキング</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane active" id="weekly_rank">
                    <p>週間予定a</p>
                </div>
                <div class="tab-pane" id="monthly_rank">
                    <p>月間予定b</p>
                </div>
                <div class="tab-pane" id="favorite_rank">
                    <p>いいね予定c</p>
                </div>
            </div>
        </div>