/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
 @import url('https://fonts.googleapis.com/css?family=Courgette');


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.header-top{
  height: 200px;
  width: 100%;

  .flex01{
    width: 23%;
    position:  absolute;
    top: 40px;
    left: 15px;
    img{
      width: 160px;
      height: 160px;
      animation: border-animation 6s infinite
    }
    /* Animation */
    @keyframes border-animation {
      to { transform: rotate(360deg); }
}
  }
  .flex03{
    width: 23%;
    position:  absolute;
    top: 0px;
    left: 20px;
    img{
      width: 160px;
      height: 40px;
    }
  }

  .flexbox {
    height: 100%;
    width: 100%;
    background: image-url('oto.jpg');
    padding: 0 20% 0 21%;
    display: flex;
    flex-direction: column;

    .header-text{
      width: 100%;
      height: 50%;

      h1{
        font-family: 'TsukuARdGothic-Regular','ヒラギノ角ゴシック','Hiragino Sans','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','klee','Osaka',sans-serif;
        font-size: 54px;
        color: white;
        font-weight: bold;
        text-shadow: 3px 2px 1px #946d62;
        text-align: center;
        span{
          font-size: 20px;
        }
      }
    }
    .search-box{
      width: 100%;
      height: 50%;

      form{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        display: flex;

        input[type="text"]{
          width: 75%;
          height: 80%;
          border: none;
          // background-color: #FFF;
          display: inline-flex;
          flex-wrap: wrap;
          margin-right: 1%;
          box-shadow: 3px 2px 1px #999999;
          margin-bottom: 5%;
          opacity: 0.6;
          font-size: 60px;
          font-family: 'TsukuARdGothic-Regular','ヒラギノ角ゴシック','Hiragino Sans','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','klee','Osaka',sans-serif;
        }
            input[type="text"]::placeholder {
                color: black;
                font-weight: bold;
                font-size: 32px;
                opacity: 1;
            }
        button{
          display:block;
          background:#5fad35;
          width:20%;
          height:78%;
          border:none;
          border-radius: 0 20% 20% 0;
          // color:#FFF;
          display: inline-flex;
          padding-top: 2%;
          box-shadow: 3px 2px 1px #999999;
          outline: none;

          .fa-search{
            font-size: 50px;
            color: white;
            margin: 0 auto 16px;
            position: relative;
          }
        }
        .search-btn:hover {
          background:#228B22;
        }
      }
    }
  }

}
.flex02{
  position: absolute;
  top: 0;
  right: 0;

  p{
    font-size: 18px;
    color: white;
    margin: 20px 5px 0 0;
    text-align: right;
    font-family: 'M PLUS 1p', sans-serif;
    a{
      color: coral;
    }
  }
}

// _error_message用
.field_with_error {
  color: red;
}

.header-bottom{
    margin-bottom: 50px;
}

#footer{
  margin-top: 10px;
  width: 100%;
  height: 80px;
  line-height: 70px;
  background: -moz-linear-gradient(top, #5a5a5a, #232222);
  background: -webkit-linear-gradient(top, #5a5a5a, #232222);
  background: linear-gradient(to bottom, #5a5a5a, #232222);
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",Helvetica,Sans-Serif;

  .p{
    padding-bottom: 10px;
  }

  .copy{
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 13%;

  }

  .toTop {
    float: right;
    display: inline-block;
    // padding: 15px;
    color: #fff;
    cursor: pointer;
  }
}
