// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    .image1 {
    background-image: url(image1.jpg);
    }
    .image2 {
    background-image: url(image2.jpg);
    }
    .image3 {
    background-image: url(image3.jpg);
    }
    .image4 {
    background-image: url(image4.jpg);
    }
    .image5 {
    background-image: url(image5.jpg);
    }
    .image6 {
    background-image: url(image6.jpg);
    }
    .image7 {
    background-image: url(image7.jpg);
    }
    .image8 {
    background-image: url(image8.jpg);
    }
    .image9 {
    background-image: url(image9.jpg);
    }
    .image10 {
    background-image: url(image10.jpg);
    }
    #container{
    height: 300px;
    width: 90%;
    margin: 100px;
    }
    .weekly {
        text-align: center;
        display: block;
        margin: 0 auto;
        // padding: 20px;
        margin: 30px;
        border: 1px solid rgb(122, 122, 122);
    }
    .monthly {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 20px;
        margin: 30px;
        border: 1px solid rgb(122, 122, 122);
    }
    .favorite {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 20px;
        margin: 30px;
        border: 1px solid rgb(122, 122, 122);
    }
    .newcd {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 20px;
        margin: 30px;
        border: 1px solid rgb(122, 122, 122);
    }
    .row-index {
        margin: 10px;
    }

    .box{
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #333333;
    }

    .item_show{
        float: left;
    }

    .item_index {
        margin: 10px;
    }