// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    // index/items
    .item-index-box {
        .box:first-child {
            border: none;
            padding-left: 15%;
            font-size: 18px;
            h2 {
                position: relative;
                color: #158b2b;
                font-size: 20px;
                padding: 10px 0;
                text-align: center;
                margin: 1.5em 0;
              }
              h2:before {
                content: "";
                position: absolute;
                top: -8px;
                left: 50%;
                width: 150px;
                height: 58px;
                border-radius: 50%;
                border: 5px solid #a6ddb0;
                border-left-color: transparent;
                border-right-color: transparent;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
              }
            ul {
                border: dashed 2px #a6ddb0;/*破線*/

                background: whitesmoke;
                padding: 0 0.5em;
                position: relative;
              }

              ul li {
                line-height: 1.5;
                padding: 0.5em 0 0.5em 1.5em;
                border-bottom: 2px solid white;
                list-style-type: none!important;
              }

              ul li:before {
                // font-family: "Font Awesome 5 free";
                // content: '\f58f';/*アイコン種類*/
                position: absolute;
                left : 0.5em; /*左端からのアイコンまで*/
                color: #668ad8; /*アイコン色*/
              }

              ul li:last-of-type {
                border-bottom: none;/*最後の線だけ消す*/
              }
        }
        .box:last-child {
            border: none;
            padding-left: 15%;
            font-size: 18px;
            h2 {
                position: relative;
                color: #e9a30d;
                font-size: 20px;
                padding: 10px 0;
                text-align: center;
                margin: 1.5em 0;
              }
              h2:before {
                content: "";
                position: absolute;
                top: -8px;
                left: 50%;
                width: 150px;
                height: 58px;
                border-radius: 50%;
                border: 5px solid #e9a30d;
                border-left-color: transparent;
                border-right-color: transparent;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
              }
              ul {
                border: dashed 2px #ffb03f;/*破線*/
                background: whitesmoke;
                padding: 0 0.5em;
                position: relative;
              }

              ul li {
                line-height: 1.5;
                padding: 0.5em 0 0.5em 1.5em;
                border-bottom: 2px solid white;
                list-style-type: none!important;
              }

              ul li:before {
                // font-family: "Font Awesome 5 free";
                // content: '\f58f';/*アイコン種類*/
                position: absolute;
                left : 0.5em; /*左端からのアイコンまで*/
                color: #668ad8; /*アイコン色*/
              }

              ul li:last-of-type {
                border-bottom: none;/*最後の線だけ消す*/
              }
        }
        .col-md-8 {
            font-family: 'Arial Black','メイリオ', Meiryo,'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Arial Rounded MT Bold','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
            h2{
                font-size: 70px;
                position: relative;
                color: #6eb0f9;
                line-height: 1.4;
                margin-bottom: 70px;
                -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
            }
            .row {
                border-radius: 10px;
                padding: 0.5em 1em;
                background: -moz-linear-gradient(#ffb03c, #ff708d);
                background: -webkit-linear-gradient(#ffb03c, #ff708d);
                background: linear-gradient(to right, #ffb03c, #ff708d);
                color: #FFF;
                margin: 20px;
                .col-md-2 {
                    padding-bottom: 5px;
                    .jacket-image {
                        box-shadow: 0 0 7px grey;
                    }
                }
                .col-md-5 {
                    font-size: 24px;
                    margin-left: 40px;
                    text-shadow: 0 0 3px grey;
                    .link-text {
                        color: white;
                        text-decoration: underline;
                        text-shadow: 0 0 3px grey;
                    }
                }
                .col-md-4 {
                    font-size: 24px;
                    // text-shadow: 0 0 7px grey;
                    // margin-left: 30px;
                    color: black;
                    input[type="number"] {
                        width: 50px;
                        margin-top: 30px;
                        color: black;
                        box-shadow: 0 0 7px grey;
                    }
                    .btn {
                        width: 120px;
                        height:80px;
                        margin-left: 40px;
                        box-shadow: 0 0 7px grey;
                        .fa-cart-plus {
                            font-size: 40px;
                        }
                    }
                    .btn-primary {
                        background-color: #22B8FA;
                        border-color: #22B8FA;
                    }
                    // input[type="submit"] {

                    // }
                }
            }
        }
    }

    // all_rank
    .all-rank-box {
        h2 {
            margin-bottom: 70px;
        }
        .tab-pane {
            font-family: 'Arial Black','メイリオ', Meiryo,'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Arial Rounded MT Bold','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
            h2{
                font-size: 52px;
                position: relative;
                color: #6eb0f9;
                line-height: 1.4;
                -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
            }
            // .row {
            //     border-radius: 10px;
            //     padding: 0.5em 1em;
            //     background: -moz-linear-gradient(#ff708d, #2bff00);
            //     background: -webkit-linear-gradient(#ff708d, #2bff00);
            //     background: linear-gradient(to right, #ff708d, #2bff00);
            //     color: #FFF;
            //     margin: 20px;
                .col-md-2 {
                    padding-bottom: 5px;
                    .jacket-image {
                        box-shadow: 0 0 7px grey;
                    }
                }
                .col-md-5 {
                    font-size: 24px;
                    margin: 40px 0 0 40px;
                    text-shadow: 0 0 3px grey;
                    .link-text {
                        color: white;
                        text-decoration: underline;
                        text-shadow: 0 0 3px grey;
                    }
                }
                .col-md-4 {
                    font-size: 24px;
                    // text-shadow: 0 0 7px grey;
                    margin-top: 30px;
                    color: black;
                    input[type="number"] {
                        width: 50px;
                        margin-top: 30px;
                        color: black;
                        box-shadow: 0 0 7px grey;
                    }
                    .btn {
                        width: 120px;
                        height:80px;
                        margin-left: 40px;
                        box-shadow: 0 0 7px grey;
                        .fa-cart-plus {
                            font-size: 40px;
                        }
                    }
                    .btn-primary {
                        background-color: #22B8FA;
                        border-color: #22B8FA;
                    }
                    // input[type="submit"] {

                    // }
                }
            }
        }
    // }

    // rankingの各グラデーション
    #row1 {
        border-radius: 10px;
        padding: 0.5em 1em;
        background: -moz-linear-gradient(#08AEEA, #2AF598);
        background: -webkit-linear-gradient(#08AEEA, #2AF598);
        background: linear-gradient(to right, #08AEEA, #2AF598);
        color: #FFF;
        margin: 20px;
            }
    #row2 {
        border-radius: 10px;
        padding: 0.5em 1em;
        background: -moz-linear-gradient(#00b5fc, #cc00ff);
        background: -webkit-linear-gradient(#00b5fc, #cc00ff);
        background: linear-gradient(to right, #00b5fc, #cc00ff);
        color: #FFF;
        margin: 20px;
            }
    #row3 {
        border-radius: 10px;
        padding: 0.5em 1em;
        background: -moz-linear-gradient(#FFE53B, #FF2525);
        background: -webkit-linear-gradient(#FFE53B, #FF2525);
        background: linear-gradient(to right, #FFE53B, #FF2525);
        color: #FFF;
        margin: 20px;
            }
    .rank_num {
        color: #fff;
        text-decoration: underline;
        font-size: 20px;
        text-shadow: 0 0 3px grey;
    }
    .page-bottom-text {
        font-size: 24px;
        text-align: center;
        padding: 30px 0;
    }

    // show/genreのグラデーション
    #row4 {
        border-radius: 10px;
        padding: 0.5em 1em;
        background: -moz-linear-gradient(#F76B1C, #FAD961);
        background: -webkit-linear-gradient(#F76B1C, #FAD961);
        background: linear-gradient(to right, #F76B1C, #FAD961);
        color: #FFF;
        margin: 20px;
    }
    #row5 {
        border-radius: 10px;
        padding: 0.5em 1em;
        background: -moz-linear-gradient(#3EECAC, #EE74E1);
        margin: 20px;
    }

// rankings/items

    #container{
    text-align: center;
    height: 300px;
    width: 70%;
    margin: 100px;
    }
    #theTarget {
    text-align: center;
    }
    .rankings-box {
        width: 180px;
        border: solid 1px black;
        // margin-left: 25px;
        // padding: 10px;
    }


    .weekly {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 20px;
        margin: 30px;
        // text-align: center;
        // display: block;
        // margin: 0 auto;
        // padding: 20px;
        // margin: 30px;
        // border: 1px solid rgb(122, 122, 122);
    }
    .monthly {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 20px;
        margin: 30px;
        // border: 1px solid rgb(122, 122, 122);
    }
    .favorite {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 20px;
        margin: 30px;
        // border: 1px solid rgb(122, 122, 122);
    }
    .newcd {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 20px;
        margin: 30px;
        // border: 1px solid rgb(122, 122, 122);
    }
    .row-index {
        margin: 10px;
    }

    .box{
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #333333;
        padding-bottom: 30px;
    }

    .item_img{
        float: left;
    }
    .item_show{
        display: inline-block;
        width: 50%;
        height: 150px;
        font-size: 30px;
        padding: 40px 10px;
    }
    .item_show1{
        width: 150px;
        height: 80px;
        margin: 20px;
        float: left;
        font-size: 25px;
    }
    .item_show2{
        width: 150px;
        height: 80px;
        margin: 30px;
        float: left;
    }
    .item_show3{
        width: 150px;
        height: 80px;
        margin: 25px;
        float: left;
    }

    .item_index {
        margin: 10px;
    }

    .label_g{
        background-color: #CCCCCC;
        margin: 20px 0;
    }

    .line2{
        width: 100%;
	    // height: 8px;
        border-bottom: 1px solid #333333;
        margin: 30px 0;
        // padding: 1px 10px;
        // background-color: #3FA5FE;
}

.review_head{
    width: 70px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

}
.review_form{
    margin-bottom: 40px;
}

.review_box{
    width: 100%;
}
#review_body{
    width: 80%;
}

.review_do1{
    float: left;
    width: 50%;
}

.review_do2{
    float: left;
    width: 50%
}

.review_do3{
    display: inline-block;
    width: 100%;
}

.review_do{
    margin: 30px;
}

.link_path1{
    margin-bottom: 60px;
}
.rank_name {
    margin-bottom: 30px;
}
.image1 {
    text-align: center;
}