// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favorite_items {
    margin: 20px;
}
.order_history {
    margin: 10px;
}
.actions_update {
    text-align: center;
    margin-bottom: 30px;
}